/* -- 1. Parent Styling -- */
.ve.context-menu, .ve-dark {
    /* -- Colours -- */
    --link-colour: rgb(130, 240, 240);
    --main-bg-colour: rgba(0, 0, 0, 0.85);
    --main-header-colour: rgba(0, 0, 0, 1);
    --main-solid-colour: rgb(35, 35, 35);
    --primary-hover-colour: rgba(255, 255, 255, 0.4);
    --secondary-hover-colour: #e1e1e1;
    --text-colour: rgb(255, 255, 255);

    /* -- Fonts -- */
    --font-size: 0.85rem;

    --primary-font: "Karla Light";
    --secondary-font: "Barlow Light";

    /* -- Layout -- */
    --border-radius: 0px;
    --margin: 0px;
    --max-button-width: 14rem;

    --window-dark-button-filter: brightness(100);
    --monochrome-dark-button-filter: invert(1);
    --monochrome-light-button-filter: brightness(0);
}