/* -- Font imports -- */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+10&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.display-none { display: none; }
summary:hover { cursor: pointer; }

/* -- File Explorer code -- */
/* -- Entity/Group styling -- */
.group, .entity {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  padding-left: 10px;

  border: 1px solid rgb(150, 150, 150);
  background-color: white;
  font-family: "Barlow";
  font-weight: 300;
  font-size: 1rem;

  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

  .interaction-container {
    float: right;
    margin-right: 0.5rem;
    vertical-align: middle;

    .context-menu-button {
      height: 1rem;
      width: 1rem;
    }
    .context-menu-button, .delete-button {
      vertical-align: middle;
    }
  }

  .item-name {
    display: inline-block;
    max-width: calc(100% - 4.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.group input, .entity input {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  max-width: 95%;
  width: 95%;
}

/* -- Group/Mask colours -- */
.entity {
  background-color: var(--entity-colour);
}
.entity.entity-hidden {
  background-color: rgb(200, 200, 200);
}
.entity.entity-hidden .item-name {
  font-style: italic;
  opacity: 0.5;
}
.group {
  background-color: var(--group-colour);
}
.entity.selected, .group.selected {
  border: 3px solid gold;
  border-style: dashed;
  box-shadow: inset 0 0 0 100vw var(--selection-colour);
}
.entity.add {
  background-color: color-mix(in srgb, rgb(160, 200, 150), var(--entity-colour));
}
.group.add {
  background-color: color-mix(in srgb, rgb(160, 200, 150), var(--group-colour));
}
.entity.intersect_add {
  background-color: color-mix(in srgb, rgb(200, 200, 160), var(--entity-colour));
}
.group.intersect_add {
  background-color: color-mix(in srgb, rgb(200, 200, 160), var(--group-colour));
}
.entity.intersect_overlay {
  background-color: color-mix(in srgb, rgb(160, 170, 200), var(--entity-colour));
}
.group.intersect_overlay {
  background-color: color-mix(in srgb, rgb(160, 170, 200), var(--group-colour));
}
.entity.subtract {
  background-color: color-mix(in srgb, rgb(250, 140, 125), var(--entity-colour));
}
.group.subtract {
  background-color: color-mix(in srgb, rgb(250, 140, 125), var(--group-colour));
}

/* -- Vercengen code - Inherited from Naissance; refactor generally -- */
.context-menu-container {
  position: fixed;
}
.context-menu:not([class*="unique"]) {
  background-color: var(--main-bg-colour);
  border-radius: var(--border-radius);
  margin: var(--margin);
  min-width: var(--context-menu-width);

  color: var(--text-colour);
  font-family: var(--primary-font);
  font-size: var(--font-size);

  > table {
    width: 100%;
  }
}
.ve.context-menu:not(.scaffold) .ve.context-menu, #window-body > .ve.context-menu { /* -- Fixes double dipping -- */
  background-color: transparent;
}
.ve.context-menu a {
  color: var(--link-colour);
}

/* -- 0. INPUT STYLING -- */
.context-menu:not([class*="unique"]) .context-menu-cell input:not([type="range"]) {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--text-colour);
  color: var(--text-colour);
  padding-bottom: calc(var(--font-size)/2);
  height: var(--font-size);
}

/* -- Button -- */
.context-menu span.button {
  display: inline-block;
  padding: 0.5rem;

  height: 100%;
}
.context-menu td:has(> div > span.button) {
  transition: all 0.5s;

  .context-menu-cell {
    max-width: var(--max-button-width);
  }
  > div {
    padding: 0rem;
  }
}
.context-menu td:has(> div > span.button):hover {
  background-color: var(--primary-hover-colour);
  cursor: pointer;
}

/* -- Colour -- */
input[type="color"] {
  border: 1px solid var(--text-colour) !important;
  outline: none;

  height: 1rem !important;
  padding: 0px !important;
  margin-left: 0.2rem;
  vertical-align: middle;
  width: 1rem;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  outline: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  outline: none;
  padding-bottom: 0px;
}

/* -- Select -- */
.context-menu select {
  max-width: calc(var(--context-menu-width) - 2rem);
}

/* -- 1. GENERAL TABS STYLING -- */
.tabs-container {
  padding-bottom: 0.5rem;
}
.tabs-container > hr {
  position: relative;

  border: none;
  border-bottom: 3px solid rgb(140, 200, 240);
  left: 0.5rem;
  width: 6rem;
  margin: 0;

  transition: left 1s ease;
}
.tabs-container > span {
  display: inline-block;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  width: 6rem;
}
.tabs-container:hover {
  cursor: pointer;
}

/* -- 2. GENERAL CONTEXT MENU STYLING -- */
.context-menu #close-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  float: right;
  height: 0.75rem;
  width: 0.75rem;

  filter: var(--monochrome-dark-button-filter);
}
.context-menu #close-button:hover {
  cursor: pointer;
}
.context-menu td {
  vertical-align: top;
}
.context-menu td > div {
  padding: 0.5rem;
}
.context-menu tr {
  display: table-row;
}

.context-menu-cell {
  /* -- Default styling -- */
  font-family: var(--primary-font);

  input {
    font-family: var(--secondary-font);

    border: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid black;

    transition: all 0.5s ease;
  }
  input:focus {
    outline: none;
    border-bottom: 2px solid rgb(118, 188, 92);
  }

  /* -- Main element formatting -- */
  .header {
    font-family: var(--primary-font);
    font-size: 0.85rem;
    font-weight: 400;
  }

  /* -- BIUF formatting -- */
  .biuf-input {
    border: 1px solid black;
    margin-top: 0.2rem;
  }
  /* -- Checkbox formatting -- */
  input[type="checkbox"] {
    position: relative;
    top: 0.125rem;

    margin-right: 0.4rem;
  }
  /* -- Search select formatting -- */
  .search-select-container {
    display: inline-block;
    position: relative;
  }

  .search-select-container #search {
    background-image: url("./UF/gfx/search_icon_dark.png");
    background-position: 14px 12px;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 14px 20px 12px 45px;
    border-bottom: 1px solid #ddd;
  }
  .search-select-container #search:focus {
    outline: 3px solid #ddd;
  }

  .search-select-container:not(.shown) a {
    display: none;
  }
  .search-select-container.shown a {
    display: block;
  }
  .search-select-container a {
    position: absolute;

    background-color: #f6f6f6;
    border: 1px solid #ddd;
    color: black;
    min-width: 14rem;
    padding: 12px 16px;
    text-decoration: none;
    z-index: 1;
  }
  .search-select-container a:hover {
    background-color: #f1f1f1;
  }
}

.context-menu ul.sortable-list {
  padding-inline-start: 0.2rem;
}
.context-menu li.sortable-list-item::marker {
  content: "";
}
.context-menu li.sortable-list-item {
  cursor: grab;
  min-width: 100%;

  align-items: flex-start;
  display: inline-flex;
  justify-content: space-between;

  .delete-button {
    left: 0px;
    float: right;
  }
  > span {
    flex: 1;

    > input[type="text"] {
      margin-right: 1rem;
      min-width: -webkit-fill-available;
    }
  }
}
.context-menu li.sortable-list-item.selected {
  border: 1px solid white;
}

.button > img {
  max-height: 2rem;
  max-width: 2rem;
  margin-right: 0.5rem;

  vertical-align: middle;
}

/* -- 3. ACTUAL INPUTS -- */
/* -- BIUF Inputs -- */
.biuf-input {
  position: relative;

  min-width: 10rem;
  padding-bottom: 0.1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.1rem;
}
.biuf-toolbar {
  position: fixed;

  background-color: rgb(0, 0, 0, 0.7);
  padding: 5px;
}

/* -- Colour picker -- */
.context-menu-cell[type="colour"] {
  .header {
  }
}
.colour-picker-brightness {
  display: inline;
  position: absolute;

  border-radius: 50%;
  background: rgb(0, 0, 0);
  height: 8.25rem;
  width: 8.25rem;

  opacity: 0;
}
.colour-picker-container {
  background: none;
  border-radius: 50%;
  height: 12rem;
  width: 15rem;

  opacity: 1;
}
.colour-picker-container img {
  opacity: 1;
}
.colour-picker-hue {
  position: absolute;

  border-radius: 50%;
  background: black;
  height: 8.25rem;
  width: 8.25rem;
}
.colour-picker-mask {
  position: relative;
  bottom: 0.85rem;

  border-radius: 50%;
  background: none;
  height: 8.25rem;
  width: 8.25rem;
}
.colour-picker-cursor {
  position: relative;

  border-radius: 50%;
  height: 12px;
  width: 12px;

  border: 1px solid black;
  box-shadow: 0px 0px 1px 1px white;
  left: calc((8.25rem/2) - 6px);
  top: calc((8.25rem/2) - 6px);

  transition: left 0.25s ease, top 0.25s ease, background 0.25s ease;
}

.brightness-range-container {
  display: inline-block;
  position: relative;
  width: 200%;

  bottom: calc(3.5rem);
}
.opacity-range-container {
  position: relative;
  bottom: calc(3.5rem + 12px);
}
.rgb-inputs {
  position: relative;

  bottom: 8.5rem;
  left: 9rem;
  height: 3.25rem;

  font-size: 1rem;
}
.rgb-inputs > input {
  width: 2rem;

  color: black;
  font-size: 1rem;
}
.rgb-inputs > input::-webkit-outer-spin-button, .rgb-inputs > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.opacity-range-container, .brightness-range-container {
  position: relative;
  margin: 0px;

  bottom: 3rem;
  right: 0.7rem;

  .small-header {
    margin-left: 0.5rem;
  }
}

/* -- Interface -- */
.context-menu-cell[type="interface"] {
  padding: 0.5rem;

  > details > summary {
    cursor: pointer;
  }
}

/* -- Number -- */
.context-menu-cell[type="number"] {
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
}

/* -- WYSIWYG Editor -- */
.context-menu-cell[type="wysiwyg"] {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.wysiwyg-editor {
  border: 1px solid transparent;
  margin: 0.5rem 0;
  min-height: 18rem;
  position: relative;
  width: 100%;

  .toolbar {
    background-color: var(--main-solid-colour);
    border: 1px solid white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure toolbar stays on top when scrolling content */

    .line {
      display: flex;

      border-bottom: 1px solid #e2e2e2;
    }
    &:last-child {
      border-bottom: none;
    }

    .box {
      display: flex;

      border-left: 1px solid #e2e2e2;

      .editor-button {
        display: flex;

        align-items: center;
        justify-content: center;
        position: relative;
        transition: .2s ease all;

        &:hover, &.active {
          background-color: #e1e1e1;
          cursor: pointer;
        }
        &.icon:not(:hover) img {
          filter: var(--monochrome-dark-button-filter);
          opacity: 0.83;
        }
        &.icon img {
          box-sizing: content-box;
          padding: 4px;
          transition: all 0.5s ease;
          width: 15px;
        }
        &.icon.small {
          height: auto;
          width: auto;
        }
        &.icon.smaller img {
          width: 16px;
        }
        &.icon.smaller img:hover {
          background-color: var(--secondary-hover-colour);
          opacity: 1;
        }
        &.has-submenu {
          padding-left: 4px;
          padding-right: 8px;
          width: 20px;

          &::after {
            filter: var(--monochrome-dark-button-filter);
            position: absolute;
            right: 4px;

            content: "";
            width: 6px;
            height: 6px;

            background-image: url("https://img.icons8.com/ios-glyphs/30/000000/chevron-down.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .submenu {
            background-color: var(--main-solid-colour);
            border: 1px solid #b5b5b5;
            border-top: none;
            display: block;
            left: 0px;
            padding: 2px;
            position: absolute;
            top: 34px;
            transform: translateY(-8px);
            z-index: 10;

            .button {
              width: 39px;
            }
            &:hover {
              display: block;
            }
          }
        }
        &.has-submenu:hover::after {
          filter: var(--monochrome-light-button-filter);
        }
      }
    }
  }

  .content-area {
    height: 12rem;
    line-height: 1.5;
    min-height: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
    resize: both;
    table-layout: fixed;
    width: 100%;

    .visual-view {
      min-height: 12rem;
      outline: none;
      padding: 15px 12px;
    }
    .visual-view:not(:empty) {
      min-height: 12rem;
      display: table;
      outline: none;
      padding: 15px 12px;
      table-layout: fixed;
    }
    .visual-view p {
      margin: 0px;
    }

    .html-view {
      width: 100%;
      height: 200px;

      border: none;
      display: none;
      outline: none;
      resize: none;
    }
  }
  .modal {
    display: none;
    z-index: 40;

    .modal-wrapper {
      position: fixed;

      left: 50%;
      top: 50%;

      background-color: var(--main-bg-colour);
      min-height: 10rem;
      padding: 1rem;
      transform: translate(-50%, -50%);
      width: 20rem;
      z-index: 41;

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        cursor: pointer;
      }

      .modal-content {
        flex-direction: column;

        h3 {
          margin-top: 0;
        }

        input {
          margin: 1rem 0;
          padding: 0.5rem;
        }
        input[type="text"] {
          width: calc(100% - 1rem);
        }

        .row label {
          margin-left: .5rem;
        }

        button {
          background-color: #D2434F;
          border: 0;
          color: white;

          cursor: pointer;
          padding: .5rem 1.2rem;
        }
      }
    }
  }
  .modal-bg {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.3);
  }
  .modal-content {
    color: var(--text-colour);
  }
  .modal-wrapper {
    border-radius: 8px;
    min-height: 0px;
    padding: 0.75rem;
    transform: translate(35%, 20rem); /* This positioning is quite specific */

    .close {
      position: absolute;
      height: 1rem;
      top: 0px;
      right: 0px;
      width: 1rem;
      color: black;
      padding: 0.5rem;
      text-align: center;
      vertical-align: middle; /* Ensure icon/text inside is centered if needed */
    }
  }
}

/* -- Modal content fixes -- */
.modal-content h3 {
  margin-top: 0px;
}

/* -- Toolbar fixes -- */
.has-submenu:not(:hover) .submenu:not(:hover) {
  visibility: hidden;
}
.submenu {
  background-color: white;
  position: relative;
  z-index: 100;
}
.submenu:hover {
  visibility: visible;
}
.editor-button.icon[title="Show HTML Code"].active > img {
  filter: var(--monochrome-light-button-filter);
}