/* -- Maximise/Minimise Chevrons -- */
@keyframes uf-expand {
  from {
    height: 0;
    margin: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
    pointer-events: none;
    visibility: hidden !important;
  }
  to {}
}
@keyframes uf-minimise {
  from {}
  to {
    height: 0;
    margin: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
    pointer-events: none;
    visibility: hidden !important;
  }
}

.uf-chevron {
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
  float: right;
  height: 1rem;
  padding: 0.5rem;
  width: 1rem;
  overflow: visible;

  margin-right: 0.5rem;
  transition: all 0.5s ease;
}
.uf-chevron:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.uf-expanded, .uf-expanded * {
  animation: uf-expand ease 0.5s forwards;
}
.uf-minimised, .uf-minimised * {
  animation: uf-minimise ease 0.5s forwards;
}

/* -- Panels/Windows Styling -- */
.ve-window {
  background-color: var(--main-bg-colour);
  color: var(--text-colour);
  font-family: var(--primary-font);
  width: calc(var(--context-menu-width)*2);

  .resize-handle:hover {
    background-color: var(--primary-hover-colour);
  }
  #window-body:not(.uf-minimised) {
    min-height: 1rem;
  }
  .window-header {
    background-color: var(--main-header-colour);
    font-family: var(--primary-font);
    font-weight: 700;
    min-width: var(--context-menu-width);
    padding: 10px;

    #close-button {
      border-radius: 50%;
      bottom: 6px;
      filter: var(--window-dark-button-filter);
      float: right;
      height: 1rem;
      margin-right: -6px;
      width: 1rem;

      padding: 8px;
      position: relative;
      transition: all 0.5s ease;
    }
    #close-button:hover {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
    }
    .uf-chevron {
      bottom: 6px;
      margin-right: 0px;
      padding: 8px;
      position: relative;
    }
    #window-name {
      background: transparent;
      border: 0px solid transparent;
      font-family: var(--primary-font);
      font-weight: 700;
      min-width: 5rem;
      opacity: 0.5;

      transition: all 0.5s ease;
    }
    #window-name:before {
      content: "\200b"; /* Zero width space */
    }
    #window-name:empty:before {
      color: var(--text-colour);
      content: "Window Name";
      display: inline-flex;
      opacity: 0.3;
      min-width: 5rem;
    }
    #window-name:focus {
      border-bottom: 1px solid var(--text-colour);
      opacity: 1;
      outline: none;
    }
    #window-name:hover {
      cursor: text;
    }
  }
  .window-header:hover {
    cursor: grab;
  }
}
.ve-window:not(:has(#close-button)) .uf-chevron {
  margin-right: -6px;
}
.ve-window:has(.uf-minimised) {
  height: 0px !important;
  overflow: initial !important;
  transition: height 0.25s ease;
}

.ve-window .window-tab-container {
  padding-top: 0.5rem;
}